img{
    object-fit: fill;;
}
.result-container{
    min-height: 500px;
    width:100%;
    background-color:azure;
    border:2px solid rgba(0, 0, 0, 0.272);
}

.result-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:20px;
}

.inner-card-container{
    display: flex;
}

.inner-card-container .img{
    padding: 10px;
}

.card-description{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    gap:20px;
   
}
.card-description p{
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}